<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center bg-primary text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-12">
                <h5 class="text-uppercase">Gestion Deportiva</h5>
                <p>Plataforma realizada como Trabajo Fin de Grado para la Universidad de Granada.</p>
            </div>
            <!--/.First column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/material-design-for-bootstrap/"> Jose Javier Mayorgas Cobos </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
